<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.getheart.mapper.PermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.getheart.pojo.Permission">
        <id column="id" property="id" />
        <result column="pid" property="pid" />
        <result column="type" property="type" />
        <result column="title" property="title" />
        <result column="percode" property="percode" />
        <result column="icon" property="icon" />
        <result column="href" property="href" />
        <result column="target" property="target" />
        <result column="open" property="open" />
        <result column="ordernum" property="ordernum" />
        <result column="available" property="available" />
    </resultMap>


    <delete id="deleteRolePermissionByPid">
        delete from sys_role_permission where pid = #{id}
    </delete>

</mapper>
